.container{
    display: flex;
    flex-direction: column;
}

body{
    background-color: black;
    color: white;
}

.header {
    text-shadow:  
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px orange,
    0 0 42px orange,
    0 0 82px orange,
    0 0 92px orange,
    0 0 102px orange,
    0 0 151px orange;;
}

.header2 {
    text-shadow:  
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px forestgreen,
    0 0 42px forestgreen,
    0 0 82px forestgreen,
    0 0 92px forestgreen,
    0 0 102px forestgreen,
    0 0 151px forestgreen;;
}

#dateHeader {
    text-shadow:  
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px rgb(45, 148, 238),
    0 0 42px rgb(45, 148, 238),
    0 0 82px rgb(45, 148, 238),
    0 0 92px rgb(45, 148, 238),
    0 0 102px rgb(45, 148, 238),
    0 0 151px rgb(45, 148, 238);;
}

button{
    background-color: white; /* Green */
    border: solid aliceblue;
    border-radius: 12px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
    
}

#clear:hover {
    background-color: red;
    color: white;
}

#delete:hover {
    background-color: red;
    color: white;
}

#complete:hover {
    background-color: green;
    color: white;
}

#show-date:hover {
    background-color: blue;
    color: white;
}

